<li class='menu-list-item'>
  <%= link_to "castle road", road_path, :class => "menu-btn" %>
</li>  
<li class='menu-list-item'>
  <%= link_to "courtyard", courtyard_path, :class => "menu-btn" %>
</li>  